body{
    margin: 0;
}
.main-container{
    width: 1055px;
    height: 580px;
    border: 2px solid;
    position: absolute;
    left: 15%;
    top: 10%;
    border-radius: 10px;
    /* background-color: rgb(35, 202, 144); */
    /* margin: 50px; */
}

.first-image-container{
    width: 1000px;
    height: 250px;
    border: 2px solid;
    position: absolute;
    left: 30px;
    top: 25px;
    border-radius: 10px;
    margin-bottom: 10px;
    /* background-color: red; */
}
/* h1{
    position: absolute;
    left: 25px;
    top: -25px;
} */
.second-image-container{
    width: 1000px;
    height: 250px;
    border: 2px solid;
    position: absolute;
    left: 30px;
    top: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.item-containers{
    width: 200px;
    height: 200px;
    border: 2px solid;
    border-radius: 50%;
    display: flex;
    display: inline-block;
    margin-top: 25px;
    margin-right: 15px;
    margin-left: 25px; 
    position: relative;
    overflow: hidden;
}

img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}


p{
    color: white;
    margin: 0;
    padding: 10px;
    font-size: 28px;
    font-style:italic;
    font-weight: 400;
    position: absolute;
    top: 150px;
    left: 30%;
}